body {
    background-color:rgb(187, 184, 181);
}

table td{
    border: 1px solid black;
    border-collapse: collapse;
}

a {
   background-color: teal; 
   color: white;
   padding: 5px;
   border-radius: 4px;
   margin: 10px;
   border: white;
   padding: 10px ;
   text-align: center;
   display: inline-block;
   cursor: pointer;
}

